.App {
  text-align: center;
}

main{
  background-color: #1d3842;
}

.data-unavailable{
  color: white;
  margin-bottom: 30px;
  font-size: 24px;
}

.back-btn{
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: white;
  text-decoration: underline;
  cursor: pointer;
}


